@use "../../styles/utils/vars" as v;
@use "../../styles/utils/mixins" as m;

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 1600px;
}

.hero {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.eclipseStack {
  position: relative;
  width: min(100%, 900px);
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: visible;
}

.eclipseStack::after {
  content: "";
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    // pointer-events: none;
}

.layerOG {
    z-index: 2;
    opacity: 1;
    animation: flickering 10s infinite;
    filter: drop-shadow(0 0 30px rgba(248, 246, 246, 0.785));
    pointer-events: auto;
}

.layerRed,
.layerBlue,
.layerWhite {
    animation: none;
    opacity: 0;
    pointer-events: none;
    z-index: 3;

}

.layerRed {
  mix-blend-mode: screen;
  filter: drop-shadow(0 0 30px rgba(255, 60, 60, 0.463));
}

.layerBlue {
  mix-blend-mode: screen;
  filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0.361));
}

.layerWhite {
  filter: drop-shadow(0 0 30px rgba(248, 246, 246, 0.785));
}

.isClicked .layerOG {
  animation-name: flickering, slideOut;
  animation-duration: 10s, 7s;
  animation-iteration-count: infinite, 1;
  animation-delay: 0s, 4s;
  animation-timing-function: linear, linear;
  animation-fill-mode: none, forwards;
}

.isClicked .layerRed,
.isClicked .layerBlue {
  animation-name: uiGlitch;
  animation-duration: 10s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: 1;
  animation-fill-mode: none;
}

.isClicked .layerWhite {
  animation-name: glitchWhite;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

@keyframes slideOut {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 30px white);
    opacity: 1;
  }

  100% {
    transform: scale(0.01);
    filter: drop-shadow(0 0 1200px white);
    opacity: 0;
  }
}

@keyframes uiGlitch {
  0%, 0.99% { transform: translate(0,0); opacity: 0; }

  1%   { transform: translate(5px, 0); opacity: .6; }
  1.2% { transform: translate(0,0); opacity: 0; }

  53%  { transform: translate(-5px, -1px); opacity: .2; }
  53.2%{ transform: translate(0,0); opacity: 0; }

  70%  { transform: translate(5px, -5px); opacity: .3; }
  70.2%{ transform: translate(0,0); opacity: 0; }

  94%  { transform: translate(-10px, 1px); opacity: .8; }
  94.5%{ transform: translate(0,0); opacity: 0; }

  96%  { transform: translate(0, 5px); opacity: .35; }
  96.5%{ transform: translate(0,0); opacity: 0; }

  100% { transform: translate(0,0); opacity: 0; }
}

@keyframes glitchWhite {
  20%  { transform: translate(50px, 30px); opacity: .8; }
  20.5%{ transform: translate(0,0); opacity: 0; }

  30%  { transform: translate(0, -300px); opacity: .5; }
  30.4%{ transform: translate(0,0); opacity: 0; }

  40%  { transform: translate(100px, 300px); opacity: 1; }
  40.4%{ transform: translate(0,0); opacity: 0; }

  54%  { transform: translate(-100px, -30px); opacity: .5; }
  54.4%{ transform: translate(0,0); opacity: 0; }

  80%  { transform: translate(100px, -10px); opacity: .4; }
  80.4%{ transform: translate(0,0); opacity: 0; }

  100% { transform: translate(0,0); opacity: 0; }
}

@keyframes flickering {
  0%  { opacity: 0.6; }
  5%  { opacity: 0.4; }
  10% { opacity: 0.5; }
  15% { opacity: 0.2; }
  20% { opacity: 0.5; }
  35% { opacity: 0.7; }
  50% { opacity: 0.7; }
  70% { opacity: 0.2; }
  100%{ opacity: 0.5; }
}
