// Tools
@use "../../styles/utils/vars" as v;
@use "../../styles/utils/mixins" as m;

// body {
//     background-color: black;
// }

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 1600px;
}

.hero {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.eclipseStack {
  position: relative;
  width: min(100%, 900px);
  height: auto;
  aspect-ratio: 1 / 1;
  background: black;
  overflow: visible;
}

.layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.layerOG {
    opacity: 1;
    animation: flickering 20s infinite;
    filter: drop-shadow(0 0 25px rgba(248, 246, 246, 0.785));
}

.layerRed,
.layerBlue {
  opacity: 0.25;
//   mix-blend-mode: screen;
  animation: uiGlitch 12s infinite;
}

.layerRed {
  transform: translate(0, 0);
  opacity: 0;
  filter: drop-shadow(0 0 18px rgba(255, 60, 60, 0.6));
}

.layerBlue {
  transform: translate(0, 0);
  opacity: 0;
  filter: drop-shadow(0 0 18px rgba(80, 170, 255, 0.6));
}

@keyframes uiGlitch {
  0%  { transform: translate(0, 0); opacity: 0; }
  1% { transform: translate(10px, 0px); opacity: 0.30; }
  2%  { transform: translate(0, 0); opacity: 0; }
  53% { transform: translate(20px, -1px); opacity: .2; }
  54% { transform: translate(0, 0); opacity: 0; }
  70% { transform: translate(20px, -1px); opacity: .35; }
  71% { transform: translate(0, 0); opacity: 0; }
  94% { transform: translate(-30px, 1px); opacity: 0.18; }
  95% { transform: translate(0, 0); opacity: 0; }
  96% { transform: translate(-40px, 2px); opacity: 0.5; }
  97% { transform: translate(0, 0); opacity: 0; }
  100%{ transform: translate(0, 0); opacity: 0.25; }
}

@keyframes flickering {
    0%  { opacity: 0.6; }
    5%  { opacity: 0.4; }
    10% { opacity: 0.5; }
    15% { opacity: 0.2; }
    17% { opacity: 0.4; }
    20% { opacity: 0.5; }
    22% { opacity: 0.6; }
    32% { opacity: 0.5; }
    35% { opacity: 0.7; }
    40% { opacity: 0.8; }
    45% { opacity: 0.5; }
    50% { opacity: 0.7; }
    53% { opacity: 0.2; }
    55% { opacity: 0.1; }
    58% { opacity: 0.3; }
    65% { opacity: 0.5; }
    70% { opacity: 0.2; }
    76% { opacity: 0.5; }
    78% { opacity: 0.6; }
    82% { opacity: 0.4; }
    89% { opacity: 0.5; }
    94% { opacity: 0.6; }
    97% { opacity: 0.4; }
    100%{ opacity: 0.5; }
}

